// @import "../../scripts/styles/home";

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  background: linear-gradient(rgba(#D10000, 0.75), rgba(#D10000, 0.6)) !important;
  background-size: cover !important;
}
